html {
	background: url("../img/bg_image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.button {
	width: 100px;
	height: 35px;
}

img {
	border: 1px solid black;
	background-color: #333;
	padding: 5px;
	margin: 1px;
	height: 150px;
	width: 200px;
}

p {
	font-size: 20px;
}

table {
	background: url("../img/test.png") center center fixed;
	background-color: #B6B6B4;
	border: 3px solid green;
	margin: 0 auto;
	width: 500px;
	padding: 25px;
}

td {
	text-align: center;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active {
	background-color: #4CAF50;
}