body {
    background-image: url("../img/bg_image.jpg");
	background-size: cover;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 

li {
	display: inline;
	margin: 10px;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#header {
	background-color: #333; 
	padding: 14px 16px;
	margin:0 auto;
}
 
#header a {
	color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#header a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
